div.sns-link {
    font-size: 1em;
}

img.icon {
    max-height: 1em;
    vertical-align: middle;
}

img.icon-twitter {
    filter: invert(100%);
}

@media (prefers-color-scheme: dark) {
    img.icon-twitter {
        filter: invert(0%);
    }
}