body {
    margin: 0;
}

header {
    background: white;
    padding: 0 2ch;
    text-align: center;
}

body>section, body>main {
    margin: 0 4ch;
}

body>section:not(:first-of-type) {
    margin-top: 4ch;
}

footer {
    background: white;
    position: fixed;
    padding: 2ch 2ch;
    right: 0;
    left: 0;
    bottom: 0;
}