body {
    --var-bg-col: white;
    --var-fg-col: black;
    --var-bg-col-code: lightgray;
}

@media (prefers-color-scheme: dark) {
    body {
        --var-bg-col: black;
        --var-fg-col: white;
        --var-bg-col-code: dimgray;
    }
}

body {
    margin: 0;
    background: var(--var-bg-col);
    color: var(--var-fg-col);
}

header {
    background: var(--var-bg-col);
    color: var(--var-fg-col);
    padding: 0 2ch;
    text-align: center;
}

header :is(h1, h2, h3, h4, h5, h6) {
    display: inline-block;
}

body>section, body>main {
    margin: 0 4ch;
}

body>section:not(:first-of-type) {
    margin-top: 4ch;
}

footer {
    background: var(--var-bg-col);
    color: var(--var-fg-col);
    position: fixed;
    padding: 2ch 2ch;
    right: 0;
    left: 0;
    bottom: 0;
}