main {
    height: auto;
    overflow: hidden;
}
div.e {
    max-width: 45%;
    float: left;
    margin-right: 4%;
}

code {
    background-color: var(--var-bg-col-code);
}

img {
    max-width: 400px;
}